<div class="text-center">
	<h1>Resultados da pesquisa: '<%= searchParams %>'</h1>
</div>
<div class="campgrounds">
	<% for (let campground of campgrounds) { %>
	<div class="card m-3 cards">
		<div style="min-height: 250px;">
			<% if (campground.images.length) { %>
			<img src="<%= campground.images[0].url %> " class="card-img-top" alt="">
			<% } %>
		</div>
		<div class="card-body">
			<h5 class="card-title"><%= campground.title %></h5>
			<p class="card-text"><%= campground.description %></p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><span class="fw-bold">Localização: </span><%= campground.location %></li>
			<li class="list-group-item"><span class="fw-bold">Preço: </span>$ <%= campground.price  %> /Diária</li>
		</ul>
		<div class="card-body">
			<a href="/campgrounds/<%= campground.id %>" class="card-link">Mostrar detalhes</a>
		</div>
	</div>
	<% } %>
</div>